
@{
    ViewBag.Title = "fail";
    Layout = null;
}
@model CyberSecurity_Project.Models.User
@{
    Layout = null;
}
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
    <title> Euphoria </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-color: #a8a7a7;
        }

        h1 {
            margin: 0;
            padding: 0;
            background-color: #49cbda;
            color: white;
            font-size: 50px;
            text-align: left;
            padding: 20px;
            font-family: 'Finger Paint';
        }
        h2 {
            margin: 0;
            padding: 0;
            background-color: #49cbda;
            color: white;
            font-size: 20px;
            text-align: center;
            padding: 20px;
            font-family: 'Finger Paint';
        }
    </style>
</head>
<body BGCOLOR="#eeeeee">
    <center>
        <h1>Euphoria</h1>
        <br /><br />
              <h2>YOU Don't HAVE ACCESS TO THIS PAGE</h2>
    </center>
</body>
</html>

