
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    SQL Injection detected
    <br /><br />
    @Html.ActionLink("Back to Search page", "Search", "User")
</head>
<body>
    <div> 
    </div>
</body>
</html>
